<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="card-box">
        <div class="panel-heading text-center">
            <img src="assets/images/logo.png">
            <div class="divider">
                <img src="assets/images/bullet.png">
            </div>
        </div>


        <div class="panel-body text-center">
            <p>Please Login with
                <span> UPSTOX </span> to invest
                <br/>with
                <span>Stockcues</span> Strategy</p>
            <button class="btn btn-inverse m-b-20" ng-click="redirect()">
                <img src="assets/images/upstock.png"> Login with Upstock</button>

        </div>
    </div>
</div>



