<div class="col-md-3">
    <img src="assets/images/growth.jpg" />
</div>
<div class="col-md-9 strategy1">
    <h5>
        <strong>Quantitative</strong> Growth Strategy</h5>
    <p>The Quantitative Growth Strategy follows a classic growth investment approach, which means the strategy focuses on the
        common stock of firms with high quality businesses and a strong moat. The strategy stock selection algorithm is fully
        automated, which has the benefit of minimizing human errors in the investment process. The strategy identifies a
        portfolio of 20 stocks with robust business models.</p>
    <div class="col-md-4">
        <div class="text-left strategy_value">
            <p>25.04%</p>
            <span>CAGR (%)</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-left strategy_value">
            <p>0.42x</p>
            <span>Sharp Ratio</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-left strategy_value">
            <p>14.7%</p>
            <span>Best Month Return (%)</span>
        </div>
    </div>
</div>