<div class="col-md-3">
    <img src="assets/images/momentum.jpg" />
</div>
<div class="col-md-9 strategy2">
    <h5>
        <strong>Quantitative</strong> Momentum Strategy</h5>
    <p>The Quantitative Momentum Strategy is an advanced long only trend following portfolio that invests purely in high quality
        Indian businesses. This strategy consists of a concentrated 20 stock portfolio held with a medium term view. The
        strategy easily defines periods of high volatility and shuts down to protect investors from devastating losses. This
        is our simplest and most intuitive strategy which follows a completely automated process from stock selection to
        execution using our proprietary algorithm. Our algorithm will send signals at the end of every trading day about
        the changes to be made in the portfolio.</p>
    <div class="col-md-4">
        <div class="text-left strategy_value1">
            <p>29.45%</p>
            <span>CAGR (%)</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-left strategy_value1">
            <p>0.68x</p>
            <span>Sharp Ratio</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-left strategy_value1">
            <p>11.8%</p>
            <span>Best Month Return (%)</span>
        </div>
    </div>
</div>