    
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row card-box">
                <div class="col-md-6 col-lg-7">
                    <div class="widget-bg-color-icon">
                        <div class="bg-icon pull-left profile_img">
                            <img src="assets/images/profile_img.png" class="img-circle">
                        </div>
                        <div class="text-left text-profile">
                            <h4>Hello</h4>
                            <p>{{ Data[0].data.name }}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="widget-bg-color-icon">
                        <div class="bg-icon1 pull-left ">
                            <img src="assets/images/upstock.jpg" class="img_login">
                        </div>
                        <div class="text-left text-fund">
                            <p>Rs. 10,345.00</p>
                            <span>Funds Available</span>
                        </div>
                        <button type="button" class="btn btn-info pull-right funds_btn w-md text-uppercase">Add Funds</button>
                        <div class="clearfix"></div>


                    </div>

                </div>
            </div>
            <div class="row card-box">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Investment Overview</h4>
                        <hr class="solid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="text-left invt_value">
                                <p>Rs. 1,845.00</p>
                                <span>Current Value</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="text-left invt_PL">
                                <p>Rs. 1,845.00</p>
                                <span>Current P&L </span>
                                <span>-0.23%
                                    <i class="ion-arrow-down-b"></i>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-12 m-t-20">
                        <div class="col-md-5">
                            <div class="text-left invt_value">
                                <h4>1</h4>
                                <span>No. of Investments in Stockcues</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="text-left invt_PL">

                                <a href="#!investments">
                                    <button type="button" class="btn btn-block btn-md btn-success text-uppercase m-t-40">See your investments</button>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-lg-6 invt_chart">
                    <div class="col-md-12 p-20">
                        <div class="col-md-6">
                            <div id="container2"></div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-6">
                            <div class="text-left invt_stock">
                                <p>Rs. 1,845.00</p>
                                <span>Stockcues Investment</span>
                            </div>

                            <div class="text-left invt_stock1 m-t-20">
                                <p>Rs. 1,845.00</p>
                                <span>Cash Available</span>
                            </div>
                            <div class="clearfix"></div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="row card-box">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title pull-left">
                            <i class="md md-brightness-1"></i> Strategy Stockcues</h4>
                        <!-- <a href="discover-growth.html">
                            <button type="button" class="btn btn-white m-0 btn-custom waves-effect pull-right">View Past Performance</button>
                        </a> -->
                        <div class="clearfix"></div>
                        <hr class="solid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- <div class="owl-carousel owl-theme" id="owl-multi">
                            <div class="item">
                                <h1>111</h1>
                            </div>

                            <div class="item">
                                    <h1>222</h1>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

