<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="">                      
                    <ul class="nav nav-tabs tabs">
                        <li class="active tab">
                            <a href="#home-2" data-toggle="tab" aria-expanded="false">
                                <!-- <span class="visible-xs"><i class="fa fa-home"></i></span>  -->
                                <!-- <span class="hidden-xs"> -->
                                <i class="ion-ios7-pie"></i> Current Investments
                                <!-- </span>  -->
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#profile-2" data-toggle="tab" aria-expanded="false">
                                <!-- <span class="visible-xs"><i class="fa fa-user"></i></span>  -->
                                <!-- <span class="visible-xs"> -->
                                <!-- <img src="assets/images/history.png">  -->
                                <i class="glyphicon glyphicon-stats"></i> Investment History
                                <!-- </span>  -->
                            </a>
                        </li>
                        <!-- <li class="tab"> 
                                        <a href="#messages-2" data-toggle="tab" aria-expanded="true"> 
                                            <span class="visible-xs"><i class="fa fa-envelope-o"></i></span> 
                                            <span class="hidden-xs">Messages</span> 
                                        </a> 
                                    </li> 
                                    <li class="tab"> 
                                        <a href="#settings-2" data-toggle="tab" aria-expanded="false"> 
                                            <span class="visible-xs"><i class="fa fa-cog"></i></span> 
                                            <span class="hidden-xs">Settings</span> 
                                        </a> 
                                    </li> -->
                                    
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-2">
                            <h4 class="page-title m-b-20 m-t-0">Investment Overview</h4>
                            <div class="investment_box">
                                <div class="text-left invt_value col-md-3">
                                    <p>Rs. 1,845.00</p>
                                    <span>Current Value</span>
                                </div>

                                <div class="text-left invt_order col-md-3">
                                    <p>Rs. 1855.40</p>
                                    <span>Current Investment</span>
                                </div>

                                <div class="text-left invt_PL col-md-3">
                                    <p>Rs. 5.34</p>
                                    <span>Current P&L </span>
                                    <span>-0.23%
                                        <i class="ion-arrow-down-b"></i>
                                    </span>
                                </div>

                                <div class="text-left total_PL col-md-3">
                                    <p>Rs. 5.34</p>
                                    <span>Total P&L </span>
                                    <span>-0.23%
                                        <i class="ion-arrow-down-b"></i>
                                    </span>
                                </div>

                                <div class="clearfix"></div>

                            </div>

                            <div class="card-box-white m-t-20">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="bg-icon pull-left order-img">
                                            <img src="assets/images/growth_icon.png" class="img-circle">
                                        </div>
                                        <div class="text-left order_detail">
                                            <h4>
                                                <strong>Quantitative </strong> Growth Strategy
                                                <a href="order.html">
                                                    <span>
                                                        <u>See Orders</u>
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </span>
                                                </a>
                                            </h4>
                                            <p>
                                                <strong>Bought On</strong>
                                                <em> 13-Dec-2017</em>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 m-t-20">
                                        <!-- <h4 class="pull-left">Strategy Stockcues</h4> -->
                                        <a href="#">
                                            <button type="button" class="btn btn-white m-0 btn-custom waves-effect pull-right" ng-click="pageChanged('manage-investments')">Manage</button>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="card-box-grey">
                                <div class="container">
                                    <div class="col-md-3">
                                        <div class="text-left order-status">
                                            <p>Rs. 1,845.00</p>
                                            <span>Current Value</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left invt_PL">
                                            <p>Rs. 5.34</p>
                                            <span>Current P&L </span>
                                            <span>-0.23%
                                                <i class="ion-arrow-down-b"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left total_PL">
                                            <p>Rs. 5.34</p>
                                            <span>Total P&L </span>
                                            <span>-0.23%
                                                <i class="ion-arrow-down-b"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left exit_btn m-t-10">
                                            <button type="button" class="btn btn-primary">Exit Stockcues</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product clearfix">
                                <a href="#" class="show">
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="productDescription">
                                    <div class="col-lg-12 card-box-grey-dark">
                                        <div class="col-lg-12">
                                            <div class="col-md-6">
                                                <div class="text-left m-t-20 b-0">
                                                    <h4>Individual Stock Orders</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-left stock-order">
                                                    <p>1,865.94</p>
                                                    <span>Total Buy Value</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="text-left stock-order1 b-0">
                                                    <p>1,865.94 </p>
                                                    <span>Total Sell Value</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-box-grey">
                                        <table class="table table-striped invest_table m-0">
                                            <thead class="text-uppercase">
                                                <tr>
                                                    <th class="text-left">Stock</th>
                                                    <th class="text-left">Order Type</th>
                                                    <th class="text-center">Quantity Filled</th>
                                                    <th class="text-center">Avg. Price (
                                                        <i class="fa fa-inr"></i>)</th>
                                                    <th class="text-center">Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="InvestmentsDetails in Data[2] | filter:{ strategyId : 1 }">
                                                    <td class="blue">{{ InvestmentsDetails.stockName }}</td>
                                                    <td class="text-left green">{{ InvestmentsDetails.orderType }}</td>
                                                    <td class="text-center ">2/2</td>
                                                    <td class="text-right p-r-60">{{ InvestmentsDetails.currentPrice }}</td>
                                                    <td class="text-center green">
                                                        <img src="assets/images/details.png">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="#" class="hide">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="profile-2">
                            <h4 class="page-title m-b-20 m-t-0">Investment History</h4>

                            <div class="card-box-white m-t-20">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="bg-icon pull-left order-img">
                                            <img src="assets/images/growth_icon.png" class="img-circle">
                                        </div>
                                        <div class="text-left order_detail">
                                            <h4>
                                                <strong>Quantitative </strong> Growth Strategy
                                                <a href="order.html">
                                                    <span>
                                                        <u>See Orders</u>
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </span>
                                                </a>
                                            </h4>
                                            <p>
                                                <strong>Bought On</strong>
                                                <em> 13-Dec-2017</em>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 m-t-20">
                                        <!-- <h4 class="pull-left">Strategy Stockcues</h4> -->
                                        <a href="#" >
                                            <button type="button" ng-click="pageChanged('manage-investments')" class="btn btn-white m-0 btn-custom waves-effect pull-right">Manage</button>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div class="card-box-grey">
                                <div class="container">
                                    <div class="col-md-3">
                                        <div class="text-left order-status">
                                            <p>Rs. 1,845.00</p>
                                            <span>Current Value</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left invt_PL">
                                            <p>Rs. 5.34</p>
                                            <span>Current P&L </span>
                                            <span>-0.23%
                                                <i class="ion-arrow-down-b"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left total_PL">
                                            <p>Rs. 5.34</p>
                                            <span>Total P&L </span>
                                            <span>-0.23%
                                                <i class="ion-arrow-down-b"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-left exit_btn m-t-10">
                                            <button type="button" class="btn btn-primary">Exit Stockcues</button>
                                        </div>
                                    </div>
                                </div>



                            </div>


                        </div>

                    </div>
                </div>


            </div>
            <!-- end row -->

        </div>
        <!-- container -->

    </div>
    <!-- content -->

</div>