<!-- ============================================================== -->
<!-- Start right Content here -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row card-box order_box">

                <div class="widget-bg-color-icon">
                    <div class="bg-icon pull-left order-img">
                        <img src="assets/images/order_img.png" class="img-circle">
                    </div>
                    <div class="text-left order-content">
                        <h4>Your Order</h4>
                        <p>Orders for your stockcues, sorted chronologically by batch</p>
                    </div>
                    <div class="clearfix"></div>


                </div>

            </div>

            <div class="row card-box-white m-b-0">
                <div class="row">
                    <div class="col-md-9">
                        <div class="bg-icon pull-left order-img">
                            <img src="assets/images/growth_icon.png" class="img-circle">
                        </div>
                        <div class="text-left order_detail">
                            <h4>
                                <strong>Quantitative </strong> Growth Strategy</h4>
                            <p>
                                <em>Viewing latest batch details</em>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 m-t-20">
                        <!-- <h4 class="pull-left">Strategy Stockcues</h4> -->
                        <a href="discover-growth.html">
                            <button type="button" class="btn btn-white m-0 btn-custom waves-effect pull-right">View Past Performance</button>
                        </a>
                    </div>

                </div>
            </div>

            <div class="row card-box-grey">
                <div class="col-md-11 col-md-offset-1">
                    <div class="col-md-3">
                        <div class="text-left order-status b-0">
                            <p>Buy</p>
                            <span>Batch Type</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-left order-status1">
                            <p>04-Dec-2017</p>
                            <span>Placed on</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-left order-status b-0">
                            <p>Filled</p>
                            <span>Batch Status</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-left order-status2">
                            <p>5/5
                                <i class="glyphicon glyphicon-signal"></i>
                            </p>
                            <span>Orders filled</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="product clearfix hide_description">
                <a href="#" class="show">
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="productDescription">
                    <div class="row card-box-grey-dark">
                        <div class="col-lg-12">
                            <div class="col-md-6">
                                <div class="text-left m-t-20 b-0">
                                    <h4>Individual Stock Orders</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-left stock-order">
                                    <p>1,865.94</p>
                                    <span>Total Buy Value</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-left stock-order b-0">
                                    <p>1,865.94 </p>
                                    <span>Total Sell Value</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row card-box-grey">
                        <table class="table table-striped invest_table m-0">
                            <thead class="text-uppercase">
                                <tr>
                                    <th class="text-left">Stock</th>
                                    <th class="text-left">Order Type</th>
                                    <th class="text-center">Quantity Filled</th>
                                    <th class="text-center">Avg. Price (
                                        <i class="fa fa-inr"></i>)</th>
                                    <th class="text-center">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="blue">Balramchin</td>
                                    <td class="text-left green">Buy</td>
                                    <td class="text-center ">2/2</td>
                                    <td class="text-right p-r-50">156.94</td>
                                    <td class="text-center green">
                                        <img src="assets/images/details.png">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blue">WSTCSTPAPR</td>
                                    <td class="text-left green">Buy</td>
                                    <td class="text-center ">2/2</td>
                                    <td class="text-right p-r-50">156.94</td>
                                    <td class="text-center green">
                                        <img src="assets/images/details.png">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blue">IOC </td>
                                    <td class="text-left green">Buy</td>
                                    <td class="text-center ">2/2</td>
                                    <td class="text-right p-r-50">156.94</td>
                                    <td class="text-center green">
                                        <img src="assets/images/details.png">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="hide">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>

            <!-- end row -->


        </div>
        <!-- container -->

    </div>
    <!-- content -->