<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div ng-repeat="discoverDetails in Data[1] | filter:{ ID : strategyId }">
        <div class="content">
            <div class="container">
            
                <div class="discover_box">
                    <div class="col-md-12 col-lg-12">
                        <div class="card-box m-b-0">
                            <div class="row m-b-20">
                                <div class="col-md-4 pull-left m-t-15">
                                    <img ng-src=" {{ discoverDetails.imageUrlLg }}" />
                                </div>
                                <div class="col-md-8 text-left m-t-15">
                                    <h5>
                                        <strong>{{ discoverDetails.StrategyName }}</strong>
                                    </h5>
                                    <p>{{ discoverDetails.Descr }}</p>

                                    <div class="clearfix"></div>
                                    <div class="m-t-10">
                                        <div class="col-md-4 p-0">
                                            <div class="text-left strategy_value">
                                                <p>{{ discoverDetails.CAGR }}</p>
                                                <span>CAGR (%)</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-0">
                                            <div class="text-left strategy_value">
                                                <p>{{ discoverDetails.SharpRatio}}</p>
                                                <span>Sharp Ratio</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-0">
                                            <div class="text-left strategy_value">
                                                <p>{{ discoverDetails.BestMonthReturns}}</p>
                                                <span>Best Month Return (%)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 card-box-blue m-t-0">
                            <div class="col-md-3">
                                <div class="text-left growth_amt">
                                    <p>Growth </p>
                                    <span>Type</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-left growth_amt b-0">
                                    <p>Rs. {{ discoverDetails.MinimumAmount }} </p>
                                    <span>Minimum Amount</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="#">
                                    <button type="button" class="btn btn-info text-uppercase pull-right m-t-10" ng-click="pageChanged('buy-stockcues')">Buy Stockcues</button>
                                </a>
                            </div>

                        </div>


                    </div>
                </div>


                <div class="col-lg-12 m-t-30">
                        <tabset>
                                <tab heading="Past Performance" style="width:50%;text-align:center">
                                        <h5 class="text-uppercase">Past Performance</h5>
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="performance_detail">
                                                <p>Rs. 100 invested in this
                                                    <span class="blue">Stockcues </span>(vs
                                                    <span class="green">NIFTY</span>) 1 month back would be worth Rs.
                                                    <span class="blue">100.77</span> (vs
                                                    <span class="green">105.60</span>) today</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <select class="selectpicker select_period" data-style="btn-white">
                                                <option>1 Month back</option>
                                                <option>2 Month back</option>
                                                <option>3 Month Back</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 strategy_bullets">
                                            <span>
                                                <i class="fa fa-square"></i> Stockcues
                                                <i class="fa fa-square"></i> NIFTY</span>
            
                                        </div>
                                        <div class="clearfix"></div>
                                        <!-- <div id="chart_div" style="width: 100%; height: 350px;"></div> -->
                                        <div google-chart chart="myChartObject" style="width: 100%; height: 350px;"></div>
                                </tab>
                                <tab heading="Stocks & Weights" style="width:50%;text-align:center">
                                        <h5 class="text-uppercase">Stocks & Weights</h5>
                                        <div class="col-md-5 stock-weight">
                                            <h5 class="m-t-20 m-b-0">Segment Composition</h5>
                                            <!-- <div id='myChart'></div> -->
                                            <div google-chart chart="myChart" ></div>
                                            <div class="strategy_bullets">
                                                <span>
                                                    <i class="fa fa-square"></i> MF
                                                    <i class="fa fa-square"></i> Insurance</span>
            
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="stocks_body">
                                                <div class="text-left pull-left">Segments & Stock</div>
                                                <div class="text-right">Weightage %</div>
                                            </div>
                                            <!-- <div accordion class="accordion" is-open="false">
                                                    <div accordion-group class="accord" heading="a">
                                                            <i ng-class="{'icon-minus-sign':true,'icon-plus-sign':false }"></i>
                                                            test
                                                    </div>
                                            </div> -->
                                            <accordion close-others="true" ng-init = "segmentTotal = 0">  
                                                <accordion-group is-open="false" ng-repeat="segementHeader in segmentHeader(strategyId)">
                                                    <accordion-heading>
                                                        <!-- <i ng-class="{'fa fa-plus':true,'fa fa-minus':false }"></i> -->
                                                        <div class="text-left pull-left">{{ segementHeader }}</div>
                                                        <div class="text-right">{{ segmentTotal | number: 2 }}</div>
                                                    </accordion-heading>
                                                    <div class="table-responsive">
                                                        <table class="table m-0">
                                                            <tbody>
                                                                <tr  ng-repeat="ss in Data[3] | filter:{ Segment : segementHeader } | filter:{ StrategyId :strategyId }">
                                                                    <td class="blue">{{ ss.StockName }}</td>
                                                                    <td class="black text-right" ng-init="$parent.segmentTotal = $parent.segmentTotal + ss.Weightage">{{ ss.Weightage }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </accordion-group>
                                            </accordion>
                                        </div>
            
                                        <div class="clearfix"></div>            
                                </tab>
                              </tabset>
                   
                </div>
                <!-- end row -->
            </div>
            <!-- container -->
        </div>
    </div>
    <!-- content -->
</div>